@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Noticias Enriquecidas</h1>
    <p>Para ver las noticias, haz clic en el siguiente botón:</p>
    <a asp-controller="Noticias" asp-action="Index" class="btn btn-primary btn-lg">Ver Noticias</a>
</div>
