@{
    ViewData["Title"] = "Un pequeño error que me puede costar el ciclo";
}
<h1>@ViewData["Title"]</h1>

<p>Hola Profesor que tal buenos dias,tardes o noches
    Escribo esto porque en mi PC1,- como era como era la primera practica no entendia bien las ramas de github, asi que usted vio una rama vacia sin miproyecto, y resulta en el la rama secundaria ahi estaba todo, porfavor podria considerarme</p>
